*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header-backround{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 750px;
}
.banner{
    text-align: right;
}
.banner-title{
    padding: 200px 200px 0;
    font-weight: 700;
    font-size: 60px;
    margin-left: 500px;
}
.banner-description{
    padding:  10px 200px 0;
    margin-left: 500px;
    font-size: 16px;
    color: #757575;
    font-style:initial;
}
.banner-btn{
    background-color: orangered;
    margin-right: 200px;
    margin-top: 15px;
    border: 0;
    border-radius: 7px;
    color: aliceblue;
    width: 140px;
    height: 60px;
    font-size: 20px;
    font-style: unset; 
}
/* body style */
.body{
    display: flex;
}
.middle-image{
    margin-top: 120px ;
    margin-left: 80px;
}
.middle-part{
    margin-top: 370px;
    margin-left: 80px;
}
.middle-description{
    font-size: 13px;
    color: #757575;
    margin-right: 300px;
    margin-bottom: 10px;
}
.middle-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 400px;
}
i{
    color: rgba(0, 128, 21, 0.751);
}
/*About*/
.about{
    margin-left: 230px;
    margin-right: 220px;
    text-align: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}
.about-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 50px;
}
section .about-info{
    text-align: center;
    margin-left: 60px;
    margin-right: 17px;
}
section .info-title{
    font-size: 20px;   
    margin-top: 15px;
}
section .info-description{
    font-size: 17px;
    font-weight: 200;
    color: #757575;
}