*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header-backround{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 750px;
    padding-left: 90px;
}
.banner{
    text-align: right;
}
.banner-title{
    padding: 200px 190px 0;
    font-weight: 900;
    font-size: 60px;
    margin-left: 550px;
}
.banner-description{
    padding:  10px 200px 0;
    margin-left: 700px;
    font-size: 14px;
    color: #757575;
    font-style:initial;
}
.banner-btn{
    background-color: orangered;
    margin-right: 200px;
    margin-top: 15px;
    border: 0;
    border-radius: 7px;
    color: aliceblue;
    width: 140px;
    height: 60px;
    font-size: 20px;
    font-style: unset; 
}
.banner-btn i{
    color: aliceblue;
}
/* body style */
.body{
    display: flex;
}
.middle-image{
    margin-top: 120px ;
    margin-left: 80px;
}
.middle-part{
    margin-top: 370px;
    margin-left: 80px;
}
.middle-description{
    font-size: 13px;
    color: #757575;
    margin-right: 300px;
    margin-bottom: 10px;
}
.middle-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 400px;
}
i{
    color: rgba(0, 128, 21, 0.751);
}
/*About*/
.about{
    margin-left: 230px;
    margin-right: 220px;
    text-align: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 5px;
}
.about-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 50px;
}
section .about-info{
    text-align: center;
    margin-left: 60px;
    margin-right: 17px;
}
section .info-title{
    font-size: 20px;   
    margin-top: 15px;
}
section .info-description{
    font-size: 17px;
    font-weight: 200;
    color: #757575;
}
.top-section {
    padding: 100px 230px;
  }
  .top-section > div {
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
  }
  .top-section > div > div {
    background-image: url(./images/gradient1.png);
    background-repeat: no-repeat;
    padding: 75px 100px;
  }
  .top-section > div > div > h1 {
    font-size: 38px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .top-section > div > div > a {
    color: blue;
    text-decoration: none;
    background-color: white;
    padding: 15px 30px ;
    border-radius: 8px;
  }  
/* Contact*/
.footer-section{
    display: flex;
}
footer{
    background-color: black;
    height: 500px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
form input[type=button] {
    width: 120px;
    height: 50px;
    color:red;
    font-size: 16px;
    border-radius: 10px;
}
form input[type=text]{
    width: 250px;
    padding-bottom: 17px;
    padding-left: 14px;
    padding-top: 14px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.906);
    border-radius: 5px;
    border: 1px solid white;
}
.contact{
    color: white;
    padding-top: 100px;
    padding-left: 150px;
}
.second-contact{
    color: white;
    padding-top: 120px;
    padding-right: 200px;
}
.contact-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 15px;
}
.contact-description{
    font-size: 15px;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-right: 350px;
}
.contact a{
    padding-right: 15px;
    text-decoration: none;
}
::placeholder{
    color: white;
}